/**
* Purpose: Main CSS File
* Author: Itamar Rosenblum
* Date: 24-12-2020
* Last modified: none
*/

.--span {
    display: block;
    padding: 6px;
    padding-left: 10px;
    margin-bottom: 5px;;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.6);
}

.--label { font-weight: bold; }